.myssr-n-neutral-81 {
  color: $fc-neutral-81;
}
.myssr-n-secondary-30 {
  color: $fc-secondary-30;
}
.myssr-n-secondary-95 {
  color: $fc-secondary-95;
}
.myssr-n-secondary-100 {
  color: $fc-secondary-100;
}
.myssr-n-neutral-100 {
  color: $fc-neutral-100;
}
.myssr-n-neutral-63 {
  color: $fc-neutral-63;
}
.myssr-n-neutral-30 {
  color: $fc-neutral-30;
}
.myssr-n-neutral-0 {
  color: $fc-neutral-0;
}
.myssr-n-inherit {
  color: inherit;
}

.myssr-n-danger-75 {
  color: $fc-danger-75;
}
.myssr-n-warning-75 {
  color: $fc-warning-75;
}
.myssr-n-warning-90 {
  color: $fc-warning-90;
}
.myssr-n-success-75 {
  color: $fc-success-75;
}
.myssr-n-success-40 {
  color: $fc-success-40;
}
.myssr-n-success-90 {
  color: $fc-success-90;
}
.myssr-n-success-100 {
  color: $fc-success-100;
}
.myssr-n-primary-40 {
  color: $fc-primary-40;
}
.myssr-n-primary-75 {
  color: $fc-primary-75;
}
.myssr-n-primary-90 {
  color: $fc-primary-90;
}
.myssr-n-danger-90 {
  color: $danger-90;
}

.myssr-n-fw-thin {
  font-weight: 300;
}
.myssr-n-fw-normal {
  font-weight: normal;
}
.myssr-n-fw-bold {
  font-weight: 700;
}

.myssr-n-fs-italic {
  font-style: italic;
}
.myssr-n-fs-normal {
  font-style: normal;
}
.myssr-n-fs-oblique {
  font-style: oblique;
}

.myssr-n-caps {
  text-transform: uppercase;
}
