.myssr-n-col-1,
.myssr-n-col-2,
.myssr-n-col-3,
.myssr-n-col-4,
.myssr-n-col-5,
.myssr-n-col-6,
.myssr-n-col-7,
.myssr-n-col-8,
.myssr-n-col-9,
.myssr-n-col-10,
.myssr-n-col-11,
.myssr-n-col-12,
.myssr-n-col,
.myssr-n-col-auto,
.myssr-n-col-sm-1,
.myssr-n-col-sm-2,
.myssr-n-col-sm-3,
.myssr-n-col-sm-4,
.myssr-n-col-sm-5,
.myssr-n-col-sm-6,
.myssr-n-col-sm-7,
.myssr-n-col-sm-8,
.myssr-n-col-sm-9,
.myssr-n-col-sm-10,
.myssr-n-col-sm-11,
.myssr-n-col-sm-12,
.myssr-n-col-sm,
.myssr-n-col-sm-auto,
.myssr-n-col-md-1,
.myssr-n-col-md-2,
.myssr-n-col-md-3,
.myssr-n-col-md-4,
.myssr-n-col-md-5,
.myssr-n-col-md-6,
.myssr-n-col-md-7,
.myssr-n-col-md-8,
.myssr-n-col-md-9,
.myssr-n-col-md-10,
.myssr-n-col-md-11,
.myssr-n-col-md-12,
.myssr-n-col-md,
.myssr-n-col-md-auto,
.myssr-n-col-lg-1,
.myssr-n-col-lg-2,
.myssr-n-col-lg-3,
.myssr-n-col-lg-4,
.myssr-n-col-lg-5,
.myssr-n-col-lg-6,
.myssr-n-col-lg-7,
.myssr-n-col-lg-8,
.myssr-n-col-lg-9,
.myssr-n-col-lg-10,
.myssr-n-col-lg-11,
.myssr-n-col-lg-12,
.myssr-n-col-lg,
.myssr-n-col-lg-auto,
.myssr-n-col-xl-1,
.myssr-n-col-xl-2,
.myssr-n-col-xl-3,
.myssr-n-col-xl-4,
.myssr-n-col-xl-5,
.myssr-n-col-xl-6,
.myssr-n-col-xl-7,
.myssr-n-col-xl-8,
.myssr-n-col-xl-9,
.myssr-n-col-xl-10,
.myssr-n-col-xl-11,
.myssr-n-col-xl-12,
.myssr-n-col-xl,
.myssr-n-col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.myssr-n-col-fill {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.myssr-n-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.myssr-n-col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.myssr-n-col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.myssr-n-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.myssr-n-col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.myssr-n-col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.myssr-n-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.myssr-n-col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.myssr-n-col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.myssr-n-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.myssr-n-col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.myssr-n-col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.myssr-n-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@include bp-small {
  .myssr-n-col-sm-fill {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .myssr-n-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .myssr-n-col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .myssr-n-col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .myssr-n-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .myssr-n-col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .myssr-n-col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .myssr-n-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .myssr-n-col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .myssr-n-col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .myssr-n-col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .myssr-n-col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .myssr-n-col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .myssr-n-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include bp-medium {
  .myssr-n-col-md-fill {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .myssr-n-col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .myssr-n-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .myssr-n-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .myssr-n-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .myssr-n-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .myssr-n-col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .myssr-n-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .myssr-n-col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .myssr-n-col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .myssr-n-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .myssr-n-col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .myssr-n-col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .myssr-n-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include bp-large {
  .myssr-n-col-lg-fill {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .myssr-n-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .myssr-n-col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .myssr-n-col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .myssr-n-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .myssr-n-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .myssr-n-col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .myssr-n-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .myssr-n-col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .myssr-n-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .myssr-n-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .myssr-n-col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .myssr-n-col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .myssr-n-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include bp-extra-large {
  .myssr-n-col-xl-fill {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .myssr-n-col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .myssr-n-col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .myssr-n-col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .myssr-n-col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .myssr-n-col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .myssr-n-col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .myssr-n-col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .myssr-n-col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .myssr-n-col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .myssr-n-col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .myssr-n-col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .myssr-n-col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .myssr-n-col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

// flex
.myssr-n-flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.myssr-n-flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

//opacity
//alpha 70 is the default value when flexview is in disabled mode/view
.myssr-n-alpha {
  opacity: $alpha-70;
}

//disabled
.myssr-n-disabled {
  pointer-events: none;
}

// align-self
.myssr-n-align-self-auto {
  align-self: auto;
}
.myssr-n-align-self-start {
  align-self: flex-start;
}
.myssr-n-align-self-end {
  align-self: flex-end;
}
.myssr-n-align-self-center {
  align-self: center;
}
.myssr-n-align-self-baseline {
  align-self: baseline;
}
.myssr-n-align-self-stretch {
  align-self: stretch;
}

// justify-content
.myssr-n-justify-content-start {
  justify-content: flex-start;
}
.myssr-n-justify-content-end {
  justify-content: flex-end;
}
.myssr-n-justify-content-center {
  justify-content: center;
}
.myssr-n-justify-content-between {
  justify-content: space-between;
}
.myssr-n-justify-content-around {
  justify-content: space-around;
}

// align-items
.myssr-n-align-items-start {
  align-items: flex-start;
}
.myssr-n-align-items-end {
  align-items: flex-end;
}
.myssr-n-align-items-center {
  align-items: center;
}
.myssr-n-align-items-baseline {
  align-items: baseline;
}
.myssr-n-align-items-stretch {
  align-items: stretch;
}

// background-colors
.myssr-n-bg-neutral-63 {
  background-color: $bg-neutral-63;
}
.myssr-n-bg-neutral-30 {
  background-color: $bg-neutral-30;
}
.myssr-n-bg-neutral-81 {
  background-color: $bg-neutral-81;
}
.myssr-n-bg-neutral-20 {
  background-color: $bg-neutral-20;
}
.myssr-n-bg-neutral-8 {
  background-color: $bg-neutral-8;
}
.myssr-n-bg-neutral-3 {
  background-color: $bg-neutral-3;
}
.myssr-n-bg-neutral-0 {
  background-color: $bg-neutral-0;
}
.myssr-n-bg-transparent {
  background-color: transparent;
}

.myssr-n-bg-primary-40 {
  background-color: $bg-primary-40;
}
.myssr-n-bg-primary-75 {
  background-color: $bg-primary-75;
}
.myssr-n-bg-primary-90 {
  background-color: $bg-primary-90;
}
.myssr-n-bg-primary-100 {
  background-color: $bg-primary-100;
}
.myssr-n-bg-secondary-90 {
  background-color: $bg-secondary-90;
}
.myssr-n-bg-secondary-95 {
  background-color: $bg-secondary-95;
}
.myssr-n-bg-secondary-100 {
  background-color: $bg-secondary-100;
}
.myssr-n-bg-danger-90 {
  background-color: $bg-danger-90;
}
.myssr-n-bg-good-40 {
  background-color: $good-40;
}
.myssr-n-bg-warning-90 {
  background-color: $bg-warning-90;
}
.myssr-n-bg-success-40 {
  background-color: $bg-success-40;
}
.myssr-n-bg-success-90 {
  background-color: $bg-success-90;
}
.myssr-n-bg-success-100 {
  background-color: $bg-success-100;
}

.myssr-n-bg-good-75 {
  background-color: $bg-good-75;
}
.myssr-n-bg-good-100 {
  background-color: $bg-good-100;
}
.myssr-n-bg-bad-75 {
  background-color: $bg-bad-75;
}
.myssr-n-bg-bad-100 {
  background-color: $bg-bad-100;
}

//progress-bar colors
.myssr-n-pg-neutral-100 {
  background-color: $bg-neutral-100;
}
.myssr-n-pg-neutral-20 {
  background-color: $bg-neutral-20;
}
.myssr-n-pg-total {
  background-color: $bg-secondary-90;
}
.myssr-n-pg-light-total {
  background-color: $bg-neutral-20;
}
.myssr-n-pg-good {
  background-color: $bg-good-90;
}
.myssr-n-pg-light-good {
  background-color: $bg-good-40;
}
.myssr-n-pg-bad {
  background-color: $bg-bad-75;
}
.myssr-n-pg-light-bad {
  background-color: $bg-bad-40;
}

// border
.myssr-n-ba {
  border-style: solid;
  border-width: 1px;
}
.myssr-n-bt {
  border-top-style: solid;
  border-top-width: 1px;
}
.myssr-n-br {
  border-#{side(right)}-style: solid;
  border-#{side(right)}-width: 1px;
}
.myssr-n-bb {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.myssr-n-bl {
  border-#{side(left)}-style: solid;
  border-#{side(left)}-width: 1px;
}
.myssr-n-bn {
  border-style: none;
  border-width: 0;
}

.myssr-n-bc-neutral-0 {
  border-color: $bc-neutral-0;
}
.myssr-n-bc-neutral-30 {
  border-color: $bc-neutral-30;
}
.myssr-n-bc-neutral-20 {
  border-color: $bc-neutral-20;
}
.myssr-n-bc-white {
  border-color: $bc-white;
}

.myssr-n-br0 {
  border-radius: 0;
}
.myssr-n-br1 {
  border-radius: rem(2px);
}
.myssr-n-br2 {
  border-radius: rem(4px);
}
.myssr-n-br3 {
  border-radius: rem(8px);
}
.myssr-n-br4 {
  border-radius: rem(16px);
}
.myssr-n-br100 {
  border-radius: 100%;
}

.myssr-n-ta-left {
  text-align: side(left);
}
.myssr-n-ta-center {
  text-align: center;
}
.myssr-n-ta-right {
  text-align: side(right);
}
.myssr-n-ta-inherit {
  text-align: inherit;
}
