// BFM  palette

$sage: #00dc43;

$primary-10: #e7f8ff;
$primary-40: #a1e6ff;
$primary-75: #50d1ff;
$primary-90: #2cc7ff;
$primary-100: #15c1ff;

$secondary-30: #bfc5ca;
$secondary-90: #415161;
$secondary-95: #374859;
$secondary-100: #2c3e50;

$panel-30: #bfc5ca;
$panel-45: #dfe7cf;
$panel-90: #415161;
$panel-95: #374859;
$panel-100: #2c3e50;

$good-20: #dbf8ee;
$good-40: #b7e9d8;
$good-75: #78d7b6;
$good-90: #5ccea6;
$good-100: #4ac99d;

$bad-40: #a1e6ff;
$bad-75: #50d1ff;
$bad-90: #2cc7ff;
$bad-100: #15c1ff;

$information-40: #a1e6ff;
$information-75: #50d1ff;
$information-90: #2cc7ff;
$information-100: #15c1ff;

$success-10: #ecf9f5;
$success-40: #b7e9d8;
$success-75: #78d7b6;
$success-90: #5ccea6;
$success-100: #4ac99d;

$warning-10: #fff6ea;
$warning-40: #ffdfac;
$warning-75: #ffc364;
$warning-90: #ffb644;
$warning-100: #ffae30;

$danger-10: #fdebeb;
$danger-40: #fab0b2;
$danger-75: #f66b6f;
$danger-90: #f44c51;
$danger-100: #f3393e;

$neutral-0: #ffffff;
$neutral-3: #fafafa;
$neutral-8: #f2f2f2;
$neutral-20: #dddddd;
$neutral-30: #cccccc;
$neutral-63: #949494;
$neutral-81: #757575;
$neutral-100: #555555;
$black: #000000;
$white: #ffffff;
